#root,
html,
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: black;
}
body {
  margin: 0;
}
html {
  height: 100%;
}
div {
  display: flex;
}
.background_container {
  margin: 0 !important;
  padding: 0;
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/blurredtest.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: fadein 1s forwards;
}
.comp_container {
  margin: 0 auto;
  width: 100%;
  height: 50rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.425);
}
.nav_cont p {
  opacity: 0.8;
  transition: color 0.5s ease;
}
.nav_cont p:hover {
  color: #952cdb;
}
.main_div {
  transition: opacity 1s ease;
}
span {
  transition: color 1s ease;
}
span:hover {
  color: #952cdb;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: inherit;
  }
}
@keyframes firelight {
  0% {
    opacity: 0.6;
    color: #fcf8ff;
  }
  100% {
    opacity: 0.8;
  }
}
.main_div {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 55%;
}
.main_div h1,
.main_div h4 {
  opacity: 0.8;
}
.main_div h1 {
  color: white;
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-size: 10rem;
  animation: firelight 3s infinite;
  animation-direction: alternate;
}
.main_div h4 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}
.main_div img {
  width: 13rem;
  margin: 0 auto;
}
.main_title {
  min-width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.nav_cont {
  width: 55%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 6rem;
}
.nav_cont p {
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}
.about {
  width: 80%;
}
.about h1 {
  font-size: 3rem;
}
.about h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.about_content {
  flex-direction: row;
  color: white;
  opacity: 0.8;
}
.about_content h2 {
  font-size: 2.5rem;
  text-align: right;
}
.about_content p {
  font-size: 1.2rem;
  text-align: left;
}
.about_left {
  width: 100%;
  flex-direction: column;
  margin-right: 1rem;
}
.about_right {
  width: 90%;
  margin-left: 1rem;
  flex-direction: column;
}
.skills {
  width: 80%;
}
.skills h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.skills h2 {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.skills p {
  color: white;
  opacity: 0.8;
}
.skills_row {
  justify-content: space-around;
}
.skills_col {
  flex-direction: column;
}
.skills_col img {
  width: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.skills_col h4 {
  font-size: 2rem;
  margin-top: 0;
}
.skills_col .fix_ember {
  height: 4rem;
  width: auto;
}
.skills_col .fix_babel {
  height: 6.2rem;
  width: auto;
}
.skills_col .fix_html5 {
  height: 4.5rem;
  width: auto;
}
.projects {
  width: 80%;
}
.projects h1 {
  font-size: 3rem;
}
.projects h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.projects p {
  color: white;
  opacity: 0.8;
}
.contact {
  width: 80%;
}
.contact h1 {
  font-size: 3rem;
}
.contact h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.contact p {
  color: white;
  opacity: 0.8;
}
