#root,
html,
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: black;
}
body {
  margin: 0;
}
html {
  height: 100%;
}
div {
  display: flex;
}
.background_container {
  margin: 0 !important;
  padding: 0;
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/blurredtest.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: fadein 1s forwards;
}
@media (max-width: 1200px) {
  .background_container {
    background-size: 150%;
  }
}
@media (max-width: 910px) {
  .background_container {
    background-size: 200%;
  }
}
@media (max-width: 500px) {
  .background_container {
    background-size: 250%;
  }
}
@media (max-width: 375px) {
  .background_container {
    background-size: 310%;
  }
}
.comp_container {
  margin: 0 auto;
  width: 100%;
  height: 50rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.425);
}
.nav_cont p {
  opacity: 0.8;
  transition: color 0.5s ease;
}
.nav_cont p:hover {
  color: #952cdb;
}
.main_div {
  transition: opacity 1s ease;
  animation: fadein 1s forwards;
  transition: all 1s ease;
}
span {
  transition: color 1s ease;
}
span:hover {
  color: #952cdb;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
/* 47a7f5 */
.ripple:hover {
  background: rgba(184, 33, 243, 0.945) radial-gradient(circle, transparent 1%, rgba(166, 33, 243, 0.945) 1%) center / 15000%;
}
.ripple:active {
  background-color: #a96ef7;
  background-size: 100%;
  transition: background 0s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: inherit;
  }
}
@keyframes firelight {
  0% {
    opacity: 0.6;
    color: #fcf8ff;
  }
  100% {
    opacity: 0.8;
  }
}
.main_div {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 55%;
}
.main_div h1,
.main_div h4 {
  opacity: 0.8;
}
.main_div h1 {
  color: white;
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-size: 10rem;
  animation: firelight 3s infinite;
  animation-direction: alternate;
}
.main_div h4 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}
.main_div img {
  width: 13rem;
  margin: 0 auto;
}
@media (max-width: 1700px) {
  .main_div {
    width: 80%;
  }
  .main_div h4 {
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 1300px) {
  .main_div {
    width: 95%;
  }
}
@media (max-width: 1100px) {
  .main_div {
    width: auto;
  }
  .main_div h1 {
    font-size: 8.5rem;
  }
  .main_div h4 {
    font-size: 2rem;
  }
}
@media (max-width: 900px) {
  .main_div {
    width: auto;
  }
  .main_div h1 {
    font-size: 8rem;
  }
  .main_div h4 {
    font-size: 2rem;
  }
}
@media (max-width: 865px) {
  .main_div h1 {
    font-size: 6rem;
  }
  .main_div h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 690px) {
  .main_div h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .main_div h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.main_title {
  min-width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
@media (max-width: 690px) {
  .main_title {
    flex-direction: column;
  }
  .main_title .fill_text {
    transform: rotate(90deg);
  }
}
.nav_cont {
  width: 55%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 6rem;
}
.nav_cont p {
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}
@media (max-width: 865px) {
  .nav_cont {
    justify-content: space-around;
  }
  .nav_cont p {
    font-size: 1.4rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 5rem;
  }
}
@media (max-width: 690px) {
  .nav_cont p {
    font-size: 1.2rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
.about {
  width: 80%;
  transition: all 1s ease;
}
.about h1 {
  font-size: 3rem;
}
.about h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.about_content {
  flex-direction: row;
  color: white;
  opacity: 0.8;
}
.about_content h2 {
  font-size: 2.5rem;
  text-align: right;
}
.about_content p {
  font-size: 1.2rem;
  text-align: left;
}
@media (max-width: 1700px) {
  .about_content p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1400px) {
  .about_content p {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  .about_content p {
    font-size: 0.99rem;
  }
}
@media (max-width: 960px) {
  .about_content {
    flex-direction: column;
  }
  .about_content p {
    font-size: 0.83rem;
  }
  .about_content .hide_me {
    display: none;
  }
  .about_content .about_right {
    margin-top: 1rem;
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  .about_content p {
    margin-top: 0;
  }
  .about_content .hide_me {
    display: none;
  }
  .about_content .about_right {
    margin-top: 5rem;
  }
}
.about_left {
  width: 100%;
  flex-direction: column;
  margin-right: 1rem;
}
.about_right {
  width: 90%;
  margin-left: 1rem;
  flex-direction: column;
}
.skills {
  width: 80%;
}
.skills h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.skills h2 {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.skills p {
  color: white;
  opacity: 0.8;
}
@media (max-width: 690px) {
  .skills h1 {
    font-size: 1.5rem;
  }
  .skills h2 {
    font-size: 1rem;
  }
}
.skills_row {
  justify-content: space-around;
}
.skills_col {
  flex-direction: column;
}
.skills_col img {
  width: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.skills_col h4 {
  font-size: 2rem;
  margin-top: 0;
}
.skills_col .fix_ember {
  height: 4rem;
  width: auto;
}
.skills_col .fix_babel {
  height: 6.2rem;
  width: auto;
}
.skills_col .fix_html5 {
  height: 4.5rem;
  width: auto;
}
@media (max-width: 690px) {
  .skills_col img {
    width: 2.5rem;
  }
  .skills_col h4 {
    font-size: 1rem;
  }
  .skills_col .fix_ember {
    height: 2rem;
  }
  .skills_col .fix_babel {
    height: 4.2rem;
  }
  .skills_col .fix_html5 {
    height: 2.5rem;
  }
}
@media (max-width: 400px) {
  .skills_col img {
    width: 1.5rem;
  }
  .skills_col h4 {
    font-size: 0.6rem;
  }
  .skills_col .fix_ember {
    height: 1.5rem;
  }
  .skills_col .fix_babel {
    height: 2.2rem;
  }
  .skills_col .fix_html5 {
    height: 1.8rem;
  }
}
.projects {
  width: 80%;
}
.projects h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.projects h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.projects p {
  color: white;
  opacity: 0.8;
}
.proj_row {
  justify-content: space-around;
}
.proj_row img {
  height: 20rem;
  width: auto;
}
.proj_col {
  flex-direction: column;
}
.proj_col h4 {
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.8;
}
.proj_col button {
  border: none;
  border-radius: 2px;
  width: 10rem;
  margin-top: 1rem;
  padding: 0.5rem;
  align-self: center;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: rgba(149, 33, 243, 0.91);
  box-shadow: 0 0 4px #999;
  outline: none;
}
.contact {
  width: 80%;
}
.contact h1 {
  font-size: 3rem;
}
.contact h2 {
  color: white;
  opacity: 0.8;
  text-align: left;
  font-size: 2rem;
}
.contact p {
  color: white;
  opacity: 0.8;
}
